<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
    for 1 application /service-->
    <!--<springProperty scope="context" name="service" source="spring.application.name" />-->
    <springProperty scope="context" name="service" source="infra.service_name" />
    <springProperty scope="context" name="app" source="spring.application.name" />
    <springProperty scope="context" name="zone" source="infra.zone" />
    <springProperty scope="context" name="bootstrap-servers" source="spring.kafka.bootstrap-servers" />

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <appender name="null" class="ch.qos.logback.core.helpers.NOPAppender">

    </appender>

    <appender name="stash-file" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>/tmp/elf-servicename.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/elf-servicename.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%contextName: %d{HH:mm:ss.SSS} [%thread] %level %logger - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <!-- This is the default encoder that encodes every log message to an utf8-encoded string  -->
        <encoder class="com.github.danielwegener.logback.kafka.encoding.PatternLayoutKafkaMessageEncoder">
            <layout class="net.logstash.logback.layout.LogstashLayout" />
        </encoder>


        <topic>elf-${zone}</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.RoundRobinKeyingStrategy" />
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />


        <producerConfig>bootstrap.servers=${bootstrap-servers}</producerConfig>
        <producerConfig>block.on.buffer.full=false</producerConfig>

        <!-- this is the fallback appender if kafka is not available. -->
        <appender-ref ref="STDOUT" />
    </appender>

    <appender name="async-kafkaAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="kafkaAppender" />
    </appender>

    <root level="INFO">
        <appender-ref ref="null"/>
    </root>

    <logger name="test-stash">
        <appender-ref ref="async-kafkaAppender" />
    </logger>

    <logger  name="stash" >
        <appender-ref ref="stash-file"  />
        <!-- for offline test -->
        <!--<appender-ref ref="kafkaAppender" />-->
    </logger>

    <logger name="org.apache.kafka" level="debug" />


</configuration>
